global:
  scrape_interval: 5s

rule_files:
  - alert.yml

scrape_configs:
  - job_name: cat-api
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets:
          - 'host.docker.internal:8080'
        labels:
          application: "cat-api"